*npy
asteria/__pycache__/
asteria/*.pyc
asteria/*.pyo
asteria/*.pyd
asteria/*.so
asteria/*.egg-info
asteria/.pytest_cache/
asteria/.mypy_cache/
asteria/.coverage
asteria/.hypothesis/
asteria/.tox/
asteria/.vscode/
asteria/.idea/
asteria/.DS_Store
asteria/.vscode-test/
asteria/.ropeproject/
asteria/.ropeconfig/
experiments/__pycache__/